<div class="about-page-main">
    <div>
        <h1>About Alpa Blog</h1>
    </div>     
    <div>
        <p>This site will alow users to post, read, and search articles and images based on a variety of categories</p>
    </div> 
    <%= link_to 'home page', root_path%>
</div>